<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 jumbotron" *ngIf="sistema">
                <div class="row pb-md-5">
                    
                    <div class="col-lg-4">
                        <app-ano-letivo></app-ano-letivo>
                    </div>
                    <div class="col-lg-4">
                            <app-conteudo></app-conteudo>
                    </div>
                    <div class="col-lg-4">
                        <a [routerLink]="['/sugestao-create']"  class="btn btn-secondary btn-sm active" role="button" aria-pressed="true">Sugerir um software</a>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-lg-4" *ngFor="let s of sistema.data">
                        <app-card 
                            id={{s._id}}
                            site={{s.site}} 
                            nome={{s.nome}} site={{s.site}} 
                            desenvolvedor={{s.desenvolvedor}}
                            anoletivo={{s.anoletiv}} 
                            conteudo={{s.conteudo}} 
                            descricao={{s.descricao}}
                            rating={{s.rating}} instrucoesdeuso={{s.instrucoesdeuso}} img={{s.img}}>
                        </app-card>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>