<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                    <div class="card" *ngIf="software">
                            <img [src]=software.img class="card-img-top" alt="">
                    <div class="card-header">
                        <h1>{{software.nome}}</h1>
                    </div>
                    <ul class="list-group list-group-flush">
                            <li class="list-group-item">Ano letivo: {{software.anoletivo}}</li>
                            <li class="list-group-item">Conteúdo: {{software.conteudo}}</li>
                            <li class="list-group-item">Descriçao: {{software.descricao}}</li>
                            <li class="list-group-item">Desenvolverdor: {{software.desenvolvedor}}</li>
                            <li class="list-group-item">Instruções de uso: {{software.intrucoesdeuso}}</li>
                            <li class="list-group-item">site: <a href="http://{{software.site}}" target="_blank" rel="noopener noreferrer">{{software.site}}</a> </li>
                    </ul>
                    </div>
                    
            </div>
        </div>
    </div>
</section>